In [47]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm

In [48]:
df = pd.read_csv('StudentsPerformance.csv')
df[:5]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [49]:
dfx = df.drop(['race/ethnicity','lunch','test preparation course','parental level of education','gender'],axis=1)
dfx[:5]

   math score  reading score  writing score
0          72             72             74
1          69             90             88
2          90             95             93
3          47             57             44
4          76             78             75

In [53]:
dfy = df.drop(['gender','parental level of education','lunch','test preparation course','math score','reading score','writing score'],axis=1)
dfy = df['race/ethnicity']

In [56]:
model = svm.SVC(gamma='scale')
model.fit(dfx.values,dfy.values)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [58]:
model.support_vectors_

array([[47., 57., 44.],
       [78., 72., 70.],
       [50., 53., 58.],
       ...,
       [81., 75., 76.],
       [86., 81., 75.],
       [88., 99., 95.]])